<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="shortcut icon" href="../public/assets/img/logoMagicBaby.svg" type="image/x-icon">
    <link rel="stylesheet" href="../public/assets/css/main.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>MagicBaby</title>
</head>
<body>
    <header class="header">
        <img src="../public/assets/img/headerNuvem.png" alt="" class="bg-header">
        <nav class="navbar">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">ArtWork</a>
        </nav>
    </header>
    <main>
        <div>
            
        </div>

    </main>
    <footer>

    </footer>
    
</body>
</html>